.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

.main-content {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    padding-top: 0;
    gap: 20px;
    overflow: hidden;
}
